.ads-columns-2 .ads-column-1 {
    float: left;
    width: 100%;
}
.ads-columns-2 {
    margin-right: 300px;
}
.ads-columns-2 .ads-column-2 {
    float: right;
    margin-right: -300px;
    width: 280px;
}
.wp-box {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: relative;
}
.wp-box .inner {
    padding: 15px;
}
.wp-box h2 {
    color: #333333;
    font-size: 25px;
    line-height: 29px;
    margin: 0.25em 0 0.75em;
    padding: 0;
}
.wp-box h3 {
    margin: 1.5em 0 0;
}
.wp-box p {
    margin-top: 0.5em;
}

.wp-box .footer-blue {
    background-color: #52accc;
    border-top: 0 none;
    color: #ffffff;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.hl {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.wp-box .footer ul li {
    margin: 0;
    padding: 0;
}
.hl > li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}


.postbox h2{
	border-bottom:1px solid #e5e5e5;
	padding:12px;
	font-size:14px;
	margin:0px;
}
.ads_postbox{
	padding:12px;
}
.ads_checkbox, .ads_radio{
	margin:0px 5px 0px 0px;
}
.ads_label{
	font-weight:bold;
}
.ads_textarea{
	width:500px;
	height:200px;
}
.ads_table{
	width:100%;
}
.ads_table td, .ads_table th{
	padding:5px;
}
.ads_table hr{
	margin:0px;
}